/* css styles for demo page, # is for id and . is for classes */
* {
	box-sizing: border-box;
}
p {
	color: red !important;
	text-align: left;
}

p {
	margin: 10px;
	border: 0px;
	border: 1px solid red;
	border-width: 5px 3px;
	padding: 10px;
}
.span3 {
	width: 300px;
	height: 100px;
	border: 1px solid black;
}

.span9 {
	width: 300px;
	height: 100px;
	padding: 50px;
	border: 1px solid black;
}
h1,
h2,
h3 {
	color: #999;
	text-align: center;
}

span {
	color: green;
}

p {
	color: blueviolet;
}

ul.nav {
	text-align: center;
	background-color: tomato;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

.nav {
	background-color: yellow;
}

.body > p {
	columns: green;
}

/* cascade rules of overuling: inline --> embedded --> external sheet */
/* source order is important, basically the last rule wins unless !important is added to rule */
/* stopped at the box model part 2 video */
