/* css styles for demo page, # is for id and . is for classes */
* {
	box-sizing: border-box;
}

.body {
	width: 500px;
	border: 1px solid green;
	margin: 10px auto;
	padding: 15px;
}

p {
	padding: 12px;
	border: 1px solid red;
	margin: 10px 0px;
	width: 33%;
	float: left;
}

h1,
h2,
h3 {
	color: #999;
}

span {
	color: green;
}

ul.nav {
	text-align: center;
	background-color: tomato;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

.nav {
	background-color: yellow;
}

.body > p {
	columns: green;
}

/* cascade rules of overuling: inline --> embedded --> external sheet */
/* source order is important, basically the last rule wins unless !important is added to rule */
/* stopped at the background element video */
